.preloader {
  background-color: $purple;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  //   align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
.preloader__line {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  padding-right: 86px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 2px;
    background-color: $yellow;
    animation: line 5s forwards;
  }
}
.preloader__counter {
  display: flex;
  color: $white;
  align-items: flex-end;

  .preloader__counter-timer {
    position: relative;
    margin-bottom: 95px;
    width: 59px;
    height: 60px;
    text-align: center;
    overflow: hidden;
    display: flex;
  }
}

.preloader__counter-timer span {
  display: block;
  font-weight: 300;
  font-size: 56px;
  height: 70px;
  animation: counter 5s steps(9, end) forwards;
}
@keyframes counter {
  0% {
  }
  100% {
    transform: translateY(-605px);
  }
}
@keyframes line {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
