.see-more {
  flex-direction: column;
  padding: 56px 0;

  @media (max-width: 768px) {
    padding: 48px 0 24px 0;
  }

  @media (max-width: 425px) {
    padding: 32px 0 8px 0;
  }
}
.see-more__title {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
}
.see-more__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.see-more__list-item {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  padding-right: 20px;

  &:last-child {
    padding-right: 0;
  }

  @media (max-width: 768px) {
    flex: 0 0 50%;
    padding-bottom: 24px;
  }
  @media (max-width: 425px) {
    flex: 0 0 100%;
    padding-right: 0;
  }
}
.item-picture {
  position: relative;
  margin-bottom: 16px;

  img {
    width: 100%;
    height: 100%;
  }

  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 47.69%,
      rgba(0, 0, 0, 0.46) 79.98%
    );
  }
}
.item-picture__title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $white;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.label-text {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 600%;
  color: $white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px 14px 4px 39px;
  border-radius: 16px;
  transition: all 3s ease-in;
}
.label {
  position: absolute;
  top: 8px;
  left: 8px;

  &:hover {
    cursor: pointer;
  }

  &:hover .label-text {
    display: inline-block;
  }
}
.label-icon {
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 10;

  &.icon-left {
    margin-left: -15px;
  }
}
.title-phone {
  font-weight: bold;
  padding-bottom: 4px;
}
.item-title {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 4px;
  transition: all 0.3s ease-in;

  &:hover {
    cursor: pointer;
    color: $purple;
  }
}
.item-subway__time-icon {
  height: 16px;
  width: 15.89px;
}
.item-adress {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 2px;
}
.item-subway {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  line-height: 16px;
}
.item-subway__time {
  display: flex;
  align-items: center;
  padding-left: 7px;
}
.subway-symbol {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: $yellow;
}
